@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruda:wght@400;500;600;700;800;900&display=swap');

:root{
     --yellow: #FFC607 ;
     --green: #19A889 ;
 }
 
 *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: "Ruda", sans-serif;
     scroll-behavior: smooth;
 }

 body{
      background-color: var(--green);
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 10%;
     
 }